<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Signup</title>
</head>
<body bgcolor="lightblue">
    <center><b><h1>Welcome to Signup!</h1></b></center>
    <hr>
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Firstname" name="firstname"><br>
        <input type="text" placeholder="Lastname" name="lastname"><br>
        <input type="text" placeholder="Username" name="username"><br>
        <input type="password" placeholder="Password" name="password"><br>
        <input type="date" placeholder="DOB" name="dob"><br>
        <input type="number" placeholder="Mobile" name="mobile"><br>
        <input type="email" placeholder="Email" name="email"><br>
        <input type="submit" value="signup">
    </form>    
</body>
</html>